.blur-div{
    height:600px;
    width:800px;
    position: relative;
    margin: 0;
    padding: 0;
}
.blur-img{
    height: 600px;
    width:800px;
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
    filter: blur(20px);
    display: block;
}
#canvas{
    /*background-color: red;*/
    position: absolute;
    left:0;
    top:0;
    z-index: 100;
    /*width:800px;*/
    /*height:600px;*/
    display: block;
}
.button{
    display: block;
    position: absolute;
    z-index: 200;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
    line-height:30px;
    border-radius: 5px;
    text-decoration: none;
}

#reset-button{
    left:200px;
    bottom:20px;
    background-color: #058;
}
#reset-button:hover{
    background-color: #047;
}
#show-button{
    right:200px;
    bottom:20px;
    background-color: #085;
}
#show-button:hover{
    background-color: #074;
}

















